*{
    padding: 0;
    margin: 0;
    font-family: "Roboto";
    max-width: 480px;
}

$bgcolor: #011827;
$buttoncolorred: #E3170A;
$buttoncolorblue: #8ACFE5;
$markedcolor: #8ACFE5;
$textcolor: #011827;

header {
    background-color: $bgcolor;
    color: #ffffff;
    width: 100%;
    height: 144px;

    .logo {
        position: relative;
        padding: 25px;
        height: auto;
        width: 28%;
    }

    .title {
        position: relative;
        display: inline-block;
        max-width: 100px;
        right: 20px;
        bottom: 34px;
        font-size: 24px;
    }

    .mobile-menu {
        float: right;
        padding: 20px;
    }

    .menu-line {
        background: #ffffff;
        display: block;
        height: 6px;
        border-radius: 10%/100%;
        position: relative;
        width: 51px;
        margin-top: 30px;
    }

    .menu-line::before,
    .menu-line::after{
        background: #ffffff;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        width: 100%;
        border-radius: 10%/100%;
    }   
    
    .menu-line::before{
        top: 15px;
    }
    
    .menu-line::after{
        top: -15px;
    }

    .side-menu {
        display: none;
    }

    .header-menu {
        visibility: hidden;
    }
}




.quotes {
    background-color: #ffffff;

}